.accordion-button-text {
    font-size: 22px;
}



/* 1st accordion contents styles */

.wrimagecard-topimage_header{
padding: 5px;
}

.main-checkout-accordion-item {
    box-shadow: #ecf1e3bd 5px 5px 5px 5px;
    border: 1px solid #a5e03f;
    
    
}

.accordion-button:not(.collapsed) {
     color: black ; 
     background-color: white; 
    box-shadow:  #ecf1e3bd 0px 0px 0px 0px;
    padding: 20px;
    border-bottom: 1px solid #a5e03f;
}


ul#list-group-for-search {
    margin: 0;
}
.service-categories {
    padding-top: 0em;
    padding-bottom: 0em;
    /* background-size: cover; */
}
.new-form-link-text{
    display: inline;
}

.new-form-link{
    display: inline;
}

.center{
    width: 150px;
    margin: 40px auto;
      
}

.cart-quantity-btn {
    height: 44px;
}

#list-group-for-search .list-group-item{


    cursor: pointer;
}

#list-group-for-search .list-group-item:hover{

    background-color: #a5e03f;
    color: rgb(0, 0, 0);
}

.col-1 {
    width: 100% !important;
}

.price-row{
    background-color: rgb(165, 224, 63);
}


div#accordionExamples {
  margin-top: -25px !important;
}

#accordionExamples {
  margin-top: -25px;
}

.accordion-next-btn-wrapper button {
    font-size: large;
    margin-bottom: 15px;
}

.woocommerce-checkout #order_review {
    float: left !important; 
    width: 100% !important; 
}

.shipping-pick-up-card-1, .shipping-pick-up-card-2{
    cursor: pointer;
}

.product-quantity-single input[type=number] {
    max-width: 100% !important;
    min-height: 40px !important;
}

.remove-single-item-btn{
    width: 100% !important;
    border-radius: 0;
   
}

.remove-single-item-btn:hover{
    background-color: #a5e03f;
    color: #000;
}

.first-accordion-item-next, .second-accordion-item-next, .third-accordion-item-next{

    border-radius: 0;
    

}

.text-heading-class{
    color: #1d8422;
}

.shipping-select-class{

    background-color: #a5e03f;
    color: rgb(0, 0, 0);
}

.checkout-woo-process-options label {
    font-size: 18px;
    /* color: rgb(165 224 63); */
}

.checkout-woo-process-options input,select {
    font-size: 18px !important;
    border: 1px solid rgb(165, 224, 63) !important;
    /* color: rgb(165 224 63); */
}

#product-checkout-main-form table.shop_table thead {
    background-color: #a5e03f !important;
}

#product-checkout-main-form #order_review table.shop_table tfoot th {
    background-color: #ffffff;
}

#product-checkout-main-form .wc_payment_methods li{
    background-color: #a5e03f !important;
}


.place_order_btn_woo{
    background-color: #a5e03f !important;
    color: #000 !important;
}


#first-accordion-item-next, #second-accordion-item-next, #third-accordion-item-next, #fourth-accordion-item-next{
border-radius: 0;
background: rgb(165, 224, 63);
color: black;

    

}
#first-accordion-item-next:hover, #second-accordion-item-next:hover, #third-accordion-item-next:hover, #fourth-accordion-item-next:hover .remove-single-item-btn:hover{

  background-color: #a5e03f;
  color: #000;
    

}


img.cart-product-image {
    width: 90% !important;
}

.datepicker{
    padding: 0;
}

input#datepicker-input {
    font-size: 18px;
}

.form-select-pickup-time{
    font-size: 18px;
}

.form-check {
    margin-top: 7px;
}


.product-quantity-val, .remove-single-item-btn{
    font-size: 18px !important;
}






@media (max-width: 760px) {
    .wrimagecard{
        height: 200px !important;
    }
    img{
        width: 50%;;
    }

    .product-heading-text {
            font-size: 21px !important;
        }
}
  
@media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  } 








/* 2nd form for loadup */



.radio-add-to-cart-ajax {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}




.selected {
    box-shadow: 0px 8px 16px 0px #e3cfcf;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}


.radio-fixed-details-card, .cart-product-select-item{
    cursor: pointer;
}

.radio-fixed-details-card:hover, .radio-card-active, .load-size-type{
    background-color: #a5e03f;
    
}

.load-size-row{
    background-color: #a5e03f;
    padding: 10px;
    
}
.card-product-active, .cart-product-select-item:hover{

    background-color: #f4f7f8;
}

.card-height-equal{
    height: 220px;
}
.loadup-billing-fields label{
    font-size: 18px;
    color: #000;
}

.search-result-vertical{
    height: 200px;
    overflow-y: auto;
}

button.accordion-button.collapsed {
    border-bottom: 2px solid #eef7e3;
    box-shadow: 0;
    padding: 16px;
}

.wrimagecard {

    border: 1px solid #a5e03f;
    border-radius: 0;
    transition: all 0.3s ease;
    height: 285px;
}

#search-query::placeholder{
color: #b0a1a1;
font-size: 18px;

}

#search-query{
    font-size: 18px;
    
}

.load-size-form-link{
   color:  #a5e03f; 

}
.my-items-heading{
   background-color:  #a5e03f; 
   color: #000;
}


.loadup-accordion-button-item{
    font-size: 21px !important;
    font-weight: bold;
}

.loadup-accordion-button-item.collapsed {
    border: 1px solid rgb(165, 224, 63);
}

#accordionExample .accordion-item  {
    border: 0 !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.loadup-accordion-button-item.collapsed{
    border-bottom: 1px solid #a5e03f !important;
}