button.accordion-button {
    font-size: 20px;
}

/*DEMO ONLY*/

.service-categories {
    padding-top: 3em;
    padding-bottom: 3em;
    background-size: cover;
  }
  
  
  /*DEMO ONLY*/
  
  .service-categories .card {
    transition: all 0.3s;
  }
  
  .service-categories .card-title {
    padding-top: 0.5em;
  }
  
  .service-categories a:hover {
    text-decoration: none;
  }
  
  .service-card {
    background: #5d727c;
    border: 0;
  }
  
  .service-card:hover {
    background: rgba(72, 88, 104, 1);
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2)
  }
  
  .fa {
    color: white;
  }



  /* next step html */

  .step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: 'SansaPro-SemiBold';
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    text-align: center !important;
    background: #FF0000;
    transition: all 1s;
}

.step-ok {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    font-family: 'SansaPro-SemiBold';
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    text-align: center !important;
    background: #39B54A;
}

.step-fll-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: 'SansaPro-Bold';
    font-size: 30px !important;
    text-align: center !important;
    cursor: pointer;
}

.step-fll {
    color: #fff;
    background: #283897;
    margin-left: 3px;
    line-height: 38px;
}

.step-prev {
    color: #283897;
    background: #FFF;
    border-width: 2px;
    border-style: solid;
    border-color: #283897;
    margin-left: -5px;
    line-height: 35px;
}

.step-fll-prev i {
    font-size: 30px !important;
}

.step-text {
    /*font-family: 'SansaPro-SemiBold';*/
    font-size: 15px;
    padding-left: 46px;
    padding-top: 5px;
}

.panel-default {
    border-color: transparent;
}

.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.05);
    box-shadow: 0 0px 0px rgba(0,0,0,0.05);
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0px solid #ddd;
}

.line-wizard {
    position: absolute;
    width: 2px;
    background-color: #CCCCCC;
    z-index: -1;
}

.l1 {
    height: 214px;
    margin-top: -44px;
    margin-left: 25px;
}

.l2 {
    height: 217px;
    margin-top: -45px;
    margin-left: 25px;
}

.l3 {
    height: 131px;
    margin-top: -199px;
    margin-left: 25px;
}


/* 1st accordion contents styles */


.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    border: 1px solid #d7d3cb;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 5px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}


.accordion-item{
    border: 0;
}

button.accordion-button.collapsed {
    box-shadow: rgb(0 0 0 / 20%) 0px 12px 28px 0px, rgb(0 0 0 / 10%) 0px 2px 4px 0px, rgb(255 255 255 / 5%) 0px 0px 0px 1px inset;
    padding: 10px;
}

.accordion-item {
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
}

.accordion-button:not(.collapsed) {
     color: black ; 
     background-color: white; 
    box-shadow: 0;
    padding: 20px;
}

ul#list-group-for-search {
    margin: 0;
}
.service-categories {
    padding-top: 0em;
    padding-bottom: 0em;
    /* background-size: cover; */
}
.new-form-link-text{
    display: inline;
}

.new-form-link{
    display: inline;
}

.center{
    width: 150px;
    margin: 40px auto;
      
}

.cart-quantity-btn {
    height: 44px;
}

#list-group-for-search .list-group-item{


    cursor: pointer;
}

#list-group-for-search .list-group-item:hover{

    background-color: black;
    color: white;
}

.col-1 {
    width: 100% !important;
}

.price-row{
    background-color: rgb(138 198 70 / 15%);
}


div#accordionExamples {
  margin-top: -25px !important;
}

#accordionExamples {
  margin-top: -25px;
}

.accordion-next-btn-wrapper button {
    font-size: large;
    margin-bottom: 15px;
}

.woocommerce-checkout #order_review {
    float: left !important; 
    width: 100% !important; 
}

.shipping-pick-up-card-1, .shipping-pick-up-card-2{
    cursor: pointer;
}

.product-quantity-single input[type=number] {
    max-width: 100% !important;
    min-height: 40px !important;
}

.remove-single-item-btn{
    width: 100% !important;
    border-radius: 0;
}

.first-accordion-item-next, .second-accordion-item-next, .third-accordion-item-next{

    border-radius: 0;

}

.datepicker{
    padding: 0;
}

input#datepicker-input {
    font-size: 18px;
}

.form-select-pickup-time{
    font-size: 18px;
}

.form-check {
    margin-top: 7px;
}